<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kioskSettings_v2</key>
	<dict>

		<!-- Remote Settings Control configuration exported from Kiosk Pro Plus, version 11.3, on 2026-02-19T12:57:46 CET -->

		<!-- This file uses Kiosk Pro's current XML format for Remote Settings Control (see 'kioskSettings_v2' above), compatible with devices running app version 10.4 or later. If your project includes kiosks on older versions of the app, you can learn more about using our legacy format at kioskgroup.com/legacy-xml -->

		<!-- Documentation for each setting and its possible values is available in our Knowledge Base at support.kioskgroup.com. A spreadsheet with these values is also maintained at kioskgroup.com/kiosk-pro-remote-settings -->


		<!-- Version -->
		<key>version</key>
		<integer>1</integer>

		
		<!-- Homepage -->
		<key>homePage</key>
		<string>https://get.help.twoday.com/servicedesk/customer/portal/2/group/11/create/95</string>

		<!-- Screensaver > Enable Screensaver -->
		<key>sv_screenVideoEnabled</key>
		<true/>

		<!-- Screensaver > Path to Local File or Folder -->
		<key>sv_url2MovieFile</key>
		<string>Meeting.jpeg</string>

		<!-- Screensaver > Standard Display > Image Duration (seconds) -->
		<key>kp_updateIntervalOfScreenSaverSlideShow</key>
		<string>3600</string>

		<!-- Refresh Homepage (minutes) -->
		<key>refreshTime</key>
		<string>5</string>

		<!-- Clear Data on Relaunch & Remote Update -->
		<key>kp_clearAppDataOnRelaunch</key>
		<false/>

		<!-- Allowed Domains -->
		<key>kp_allowedDomains</key>
		<string>https://get.help.twoday.com</string>

		<!-- Page Auto Zoom
			 50 = 50%;
			 75 = 75%;
			 85 = 85%;
			 100 = 100%;
			 115 = 115%;
			 125 = 125%;
			 150 = 150%;
			 175 = 175%;
			 200 = 200%;
			 250 = 250%;
			 300 = 300%;
		-->
		<key>pageAutoZoom</key>
		<integer>85</integer>

		<!-- Remote Update of Local Files > Enable Remote Update of Local Files -->
		<key>updateOfLocalFilesEnabled</key>
		<true/>

		<!-- Remote Update of Local Files > Version XML File Location -->
		<key>localContentUpdateUrl</key>
		<string>https://raw.githubusercontent.com/Westenfeldt/Ipadtest/refs/heads/main/settings.xml</string>

		<!-- Remote Update of Local Files > Update Period (minutes) -->
		<key>localContentUpdatePeriod</key>
		<string>1</string>

		<!-- Dropbox Sync > Enable Dropbox Sync -->
		<key>dropboxSyncEnabled</key>
		<true/>

		<!-- Dropbox Sync > Shared Content Folder > Shared Content Folder Name -->
		<key>dropboxSharedContentFolderPath</key>
		<string>Ipad</string>

		<!-- Remote Management Server > Site Name -->
		<key>KWC_SiteName</key>
		<string>Nordhavn</string>

		<!-- Update Policies > Apply Updates
			 0 = Immediately;
			 1 = Delay While Idle Timer is Active;
		-->
		<key>kp_remoteUpdatePolicy</key>
		<integer>0</integer>

		<!-- Screen Brightness & Power Management > Brightness Level > Control Active Brightness Level -->
		<key>kp_isControlBrightnessInKioskEnabled</key>
		<true/>

		<!-- Screen Brightness & Power Management > Brightness Level -->
		<key>manualControlOfBrightness</key>
		<real>1</real>

		<!-- Screen Brightness & Power Management > Night Mode > Enable Night Mode -->
		<key>sleepSchedullerEnabled</key>
		<true/>

		<!-- Screen Brightness & Power Management > Night Mode > Schedule Night Mode > Group 1 > Wake -->
		<key>time_0</key>
		<string>Daily 7:00</string>

		<!-- Screen Brightness & Power Management > Night Mode > Schedule Night Mode > Group 1 > Dim -->
		<key>time_1</key>
		<string>Daily 17:00</string>

		<!-- Advanced Settings > Memory & Privacy > Share Crash Logs with Developer
			 0 = Automatically;
			 1 = Do not share;
			 2 = Request permission on launch;
		-->
		<key>kp_collectCrashLogsForAnalysisOption</key>
		<integer>0</integer>

	</dict>
</dict>
</plist>
